
<div class="outgoing_msg">
  <div class=""><strong><%= message.user.name.capitalize %></strong></div>
    <div class="received_msg">
      <div class="sent_msg">
        <p><%= message.body %></p>
            <span class="time_date"><%= message.timestamp %></span>
      </div>
    </div>
    </div>






